@page "/posts"

@layout MainLayout

@inject IPostRepository Repository
@inject IDataConvertor Convertor
@inject ILogger<IBlogPostData> Logger

<div>
    @if (Posts != null)
    {
        foreach (var post in Posts)
        {
            <div>
                <a href="posts/@post.Title">View</a>
                <h1>@post.Title</h1>
                <p>@((MarkupString)post.Content)</p>
            </div>
        }
    }
    else
    {
        <p>Loading posts...</p>
    }
</div>

<div>
    @if (LoadFailed)
    {
        <p>An error occured :( Check the developer console for more details</p>
        <a href="/">Go Home</a>
    }
</div>


@code {
    IEnumerable<IBlogPostData> Posts;
    bool LoadFailed;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var posts = await Repository.GetPosts();
            Posts = posts.Select(Convertor.ConvertData);
        }
        catch (Exception e)
        {
            LoadFailed = true;
            Logger.LogCritical(e, "Failed to get posts");
        }
    }

}