@page "/posts/{title}"

@layout MainLayout

@inject IPostRepository Repository
@inject IDataConvertor Convertor
@inject ILogger<IBlogPostData> Logger

<div>
    @if (Post != null)
    {
        <div>
            <h1>@Post.Title</h1>
            <p>@(new MarkupString(Post.Content))</p>
        </div>
    }
    else
    {
        <p>Loading post...</p>
    }
</div>

<div>
    @if (LoadFailed)
    {
        <p>An error occured :( Check the developer console for more details</p>
        <a href="/">Go Home</a>
    }
</div>

@code {

    [Parameter] public string Title { get; set; }
    bool LoadFailed;
    IBlogPostData Post;

    protected override async Task OnInitializedAsync()
    {
        try
        {
            var post = await Repository.GetPost(Title);
            Post = Convertor.ConvertData(post);
        }
        catch (Exception e)
        {
            LoadFailed = true;
            Logger.LogCritical(e, "Failed to get post");
        }
    }

}